*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 94%);
}
.main{
    margin:90px 30px;
    background-color: hsl(0, 0%, 100%);
    padding: 40px 20px;
    border-radius: 20px;
    border-bottom-right-radius: 60px;
    display: flex;
    flex-direction: column;
}
.inputDivs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputDiv {
    display: flex;
    flex-direction: column;
}
label {
    color: hsl(0, 1%, 44%);
    font-weight: 400;
    font-size: 0.5rem;
    letter-spacing: 2px;
}

input{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 20%;
    width:90%;
    height: 60%;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
}
input::placeholder{
    color:hsl(0, 0%, 8%);
}
input:hover {
    border: 1px solid hsl(259, 100%, 65%);
}

p{
    font-size: 5px;
    font-weight: 400;
    color: hsl(0, 100%, 67%);
}

button {
    width:40px;
    height: 40px;
    margin: 20px 70px;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    border: none;
    cursor: pointer;
} 
button:hover {
    background-color: hsl(0, 0%, 8%);
}

img {
    width:20px;
    height:20px;
}

h1 {
    font-size: 32px;
}


span{
    color: hsl(259, 100%, 65%);
    font-size: 32px;
}



/* Desktop 1440px */

@media (min-width:760px) {
    .main{
        width: 600px;
        height:400px;
        margin:20% auto;
    }
    
    .inputDivs {
     justify-content: space-around;
     padding-right:80px ;

    }
    label {
        font-size: 0.7rem;
    }

    input::placeholder{
        font-size: 1rem;
    }
    input{
        font-size: 1rem;
        padding: 15%;
    }

    p{
        font-size: 8px;
    }

    h1, span {
        font-size: 3rem;
    }

    button {
        position: absolute;
        width:50px;
        height: 50px;
        margin: 0;
        margin-left: 500px;
        margin-top: 15px;
    } 
    
    img {
        width:20px;
        height:20px;
    }


    .resultDiv{
        margin-top: 30px;
        margin-left: 10px;
    }


}





